*{
    font-family: "poppins" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: rgb(245, 238, 252);
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.all{
    background-color: rgb(249, 221, 241);
    width: 320px;
    padding: 24px;
    border-radius: 16px;
    border: 5px solid wheat;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px 20px rgb(254, 192, 254);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title{
    margin-bottom: 16px;
}

.input-box{
    width: 100%;
    padding: 10px 16px 10px;
    border-radius: 99px;
    background: white;
    border: 3px 3px 0px transparent;
    outline: none;
    caret-color: black;
    font-weight: 500;
    transition: 0.25s;
   
}

input{
    border: none;
    outline: none;
}

.input-box input::placeholder {
    color: gray;
    border: none;
}

.input-box input::-ms-reveal {
    filter: invert(100%);
}

.input-box i {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    color: bisque;
    font-size: 18px;
    transition: 0.25s;
}

.input-box input:focus + i {
    color: rgb(219, 190, 0);
}

.rfb{
    display: flex;
    width: 100%;
    margin-top: 16px;
    justify-content: space-between;
    gap: 20px;
}

.rfb h4{
    font-weight: normal;
}

.remember-me{
    font-size: 15px;
    display: flex;
    gap: 8px;
}

h3{
    font-size: 15px;
    font-weight: bold;
}

h2{
    font-size: 15px;
    font-weight: bold;
}

.fp{
    white-space: nowrap;
    color: white;
    text-decoration: none;
}

.fp:hover {
    text-decoration: underline;
}

.login-but{
    width: 100%;
    margin-top: 24px;
    padding: 10px 0;
    background: plum;
    border: none;
    border-radius: 99px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    outline: transparent 3px solid;
    transition: 0.25s;
}


.dhaa{
    font-weight: normal;
    margin-top: 12px;
}

.dhaa a{
    text-decoration: none;
    color: white;
}